* {
    font-smooth: always;
        }
.status-label {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 50%);
    padding-top: 12px;
}
.status-label > div {
    grid-column: 2;
    text-align: right;
    padding-right: 1em;
    white-space: nowrap;
}

.status-label > div * {
    display: inline;
}

.loader {
    padding-right: 1em;
}

/* remove outline */
.ProseMirror:focus {
    outline: none;
}
/* set */
.ProseMirror {
    min-height: 80vh;
    max-height: 80vh;
    overflow: scroll;
}
